body{
  margin: 0;
  display: flex;
 
  background-color: bisque;
 
  font-family: cursive;
  text-shadow: .1px .1px rgba(202, 202, 0, 0.526);
  color:black;
}

.left-part {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
  width: 120px;
  justify-content: space-between;
}

.small{
  font-size: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  color: white;
  font-family: cursive;
}

.change {
  color: white;
  font-family: cursive;
  font-size: 17px;
  display: flex;
  text-decoration: none;
  justify-content: right;
}

.container{

  padding-top: 100px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  
}
.active img{
  height: 30px;
  border-radius: 50%;
}




.center  {
  color: darkgrey;
}

.navbar{
  display: flex;
  position: fixed;
  background-color: rgb(133, 32, 32);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  transition: background-color 0.4s;
  height: 80px;
}

.navbar ul{
  display: flex;
  list-style-type: none;
}

.navbar ul li a{
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: cursive;
}

.navbar a:hover{
  color: black;
}

.navbar.active ul li a{
  color: white;
}

.navbar.active ul li a:hover{
  color: black;
}

.navbar.active ul li a:active{
  font-size: 150%;
}

.left-part a:active{
  font-size: 150%;
}

@media screen and (max-width: 700px) {
  .navbar {
 height: 60px;
  }
}

.yellow {
  color: rgba(202, 202, 0, 0.726);
}
@media screen and (max-width: 1500px) {
  body {
    width: 100%;
    color: white;
    margin: 0;
    margin: 0;
  display: flex;
  width: 100%;
  height: 1700px;
  background: url("https://wallpaperaccess.com/full/3205414.jpg");
  background-size: cover;  
  background-repeat: no-repeat;
  font-family: cursive;
  text-shadow: .1px .1px rgba(202, 202, 0, 0.526);

    background-position: cover;
  }

  a{
    color: blue;
  }
}

@media screen and (max-width: 1500px) {
  #yellow {
    color: white;
  }
}

.yellow {
  color: rgba(202, 202, 0, 0.726);
  text-shadow: .1px .1px rgba(202, 202, 0, 0.526);
}

@media screen and (max-width: 500px) {
  .navbar{
    font-size: 10px;
    height: 40px;
  }
}

@media screen and (max-width: 300px) {
  .navbar{
    font-size: 7pxpx;
    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .small {
    height: 0px;
  }
}

@media screen and (max-width: 300px) {
  .left-part {
    margin-left: 5px;
  }
}
@media screen and (min-width: 800px) {
  .left-part {
    margin-left: -350px;
  }
}
@media screen and (min-width: 1000px) {
  .left-part {
    margin-left: -500px;
  }
}
@media screen and (min-width: 1100px) {
  .navbar.active ul li a{
    margin-right: 50px;
    font-size: 30px;
}

.left-part .change{
  font-size: 40px;
}

.left-part {
  width: 200px;
}
}
@media screen and (max-width: 400px) {
  .small{
    font-size: 5px;
}
}
@media screen and (max-width: 400px) {
  .change{
    font-size: 15px;
}
}

.container2{ 
  
  
  margin-top: 80px;
  margin-left: 40px;

}

.navbar .this-one .black-2{
  color: black;
}
.navbar .this-one .black-3{
  color: black;
}