*{
  font-family: Cambria;
}






body{
  margin: 0;
  display: flex;
  width: 100%;
  height: 1700px;
  background: url("https://wallpaperaccess.com/full/3205414.jpg");
  background-size: cover;  
  background-repeat: no-repeat;
  font-family: cursive;
  text-shadow: .1px .1px rgba(202, 202, 0, 0.526);
  color: rgba(202, 202, 0, 0.493);
}

.left-part {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
  width: 120px;
  justify-content: space-between;
}

.small{
  font-size: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  color: white;
  font-family: cursive;
}

.change {
  color: white;
  font-family: cursive;
  font-size: 17px;
  display: flex;
  text-decoration: none;
  justify-content: right;
}
#change-1 {
  color: black;
 
}

.container{

  padding-top: 100px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  
}
img {
  height: 30px;
  border-radius: 50%;
}

.center  {
  color: darkgrey;
}

.navbar{
  display: flex;
  position: fixed;
  background-color: rgb(133, 32, 32);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  transition: background-color 0.4s;
  height: 80px;
}

.navbar ul{
  display: flex;
  list-style-type: none;
}

.navbar ul li a{
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: cursive;
}

.navbar a:hover{
  color: black;
}

.navbar.active ul li a{
  color: white;
}

.navbar.active ul li a:hover{
  color: black;
}

.navbar.active ul li a:active{
  font-size: 150%;
}

.left-part a:active{
  font-size: 150%;
}

@media screen and (max-width: 700px) {
  .navbar {
 height: 60px;
  }
}

.yellow {
  color: rgba(202, 202, 0, 0.726);
}
@media screen and (max-width: 1500px) {
  body {
    width: 100vw;
    color: white;
    margin: 0;
    background-image:url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1211&q=80"), url("https://wallpaperaccess.com/full/3205414.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1500px) {
  #yellow {
    color: white;
  }
}

.yellow {
  color: rgba(202, 202, 0, 0.726);
  text-shadow: .1px .1px rgba(202, 202, 0, 0.526);
}

@media screen and (max-width: 500px) {
  .navbar{
    font-size: 10px;
    height: 40px;
  }
}

@media screen and (max-width: 300px) {
  .navbar{
    font-size: 7pxpx;
    height: 30px;
  }
}
@media screen and (max-width: 500px) {
  img{
    height: 0px;
  }
}
@media screen and (max-width: 500px) {
  .small {
    height: 0px;
  }
}

@media screen and (max-width: 300px) {
  .left-part {
    margin-left: 5px;
  }
}
@media screen and (min-width: 800px) {
  .left-part {
    margin-left: -350px;
  }
}
@media screen and (min-width: 1000px) {
  .left-part {
    margin-left: -500px;
  }
}
@media screen and (min-width: 1100px) {
  .navbar.active ul li a{
    margin-right: 50px;
    font-size: 30px;
}

.left-part .change{
  font-size: 40px;
}

.left-part {
  width: 200px;
}
}
@media screen and (max-width: 400px) {
  .small{
    font-size: 5px;
}
}
@media screen and (max-width: 400px) {
  .change{
    font-size: 15px;
}
}

.container2 {
  width: 1vw;
  height: 100vh;
  margin: 15px;
  padding: 10px;
}
.container {
  margin: 15px;
}


.container3 {
  height: 2500px;
  
  background-image: center;
  width: 100%;
  background: url("https://live-production.wcms.abc-cdn.net.au/69c0db8671502e7963af2f375a57486f?impolicy=wcms_crop_resize&cropH=2193&cropW=3899&xPos=0&yPos=1178&width=862&height=485%22");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.container4 {
  height: 2500px;
  
  background-image: center;
  width: 100%;
  background: url("https://media.npr.org/assets/img/2022/07/12/southern-ring-nebula-2-_custom-60c7d16d9c36f085646be2dad4585892c783952d-s1300-c85.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container4 p{
  font-size: 50px;
  margin: 20px;
}

.container4 h1{
  margin: 100px;
  font-size: 70px;
}

.container4 *{
  color: blueviolet;
}

.container4 p{
  
  margin: 100px;
}

.container4 h2{
  margin: 60px;
}
.container4 h3{
  margin: 60px;
}



.navbar .this-one #black-1{
  color: black;
}
.navbar .this-one .change-3{
  color: black;
}


.container3 p{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  justify-items: center;
  margin-top: 30px;
  
}

.container3 text{
  margin-top: 100px;
}


.container3 div {
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 50px;
  border-style: solid;
  color: white;
  border-radius: 30px;
  background-color: rgba(0,0,0,.5);

}

.container3 .inside-container{
  padding-top: 200px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .container3 p{
    font-size: 18px;
    color: yellowgreen;
  }
}
@media screen and (max-width: 350px) {
  .container3 p{
    font-size: 10px;
  }
}


 
@media screen and (max-width: 1600px) and (min-width: 1100px) {
  
  .left-part {
    margin-left: -130px;
  }
}

.container ul li a{
  color: rgb(255, 236, 131);
  text-decoration: none;
}

.container ul li a :active{
  color: blanchedalmond;
  text-decoration: none;
}


footer {
  font-size: smaller;
}


/* Animation property */
body .container span button{
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

span{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}


button {
  height: 4em;
  width: 7em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  
  border-radius: 0 0 0.2em 0.2em;
  color: rgb(255, 236, 131);
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  }

  #date{
    display: flex;
    margin-top: 0%;
    justify-content: right;
    margin-right: 6%;

  
  }

  body .container3 #white{

    margin-top: 150px;
  color: white;
  margin-bottom: -150px;
  
  }

  @media screen and (max-width: 500px) {
    body .container3 span div p{
      margin: 10px;
     
    }
  }
  @media screen and (max-width: 400px) {
    body .container3 span div p{
      margin: 8px;
     
    }
  }
  @media screen and (max-width: 300px) {
    body .container3 span div p{
      margin: 0px;
    }
  }

.dropdown {
  top: 70%;
    position: absolute;
    right: 20%;
    transform: translate(50%, 50%);
    border-radius: 5%;
    opacity: .7;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 15%;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: black;
}


body .container .box{
  top: 40%;
  right: 20%;
position: absolute;
  font-family: cursive !important;
  transform: translate(50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color:  #4CAF50;
  border: none;
  color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15%;
    opacity: .7;
    
}

body .container .box:hover {
  background-color:#3e8e41;
  color: black;
  
}

body .container img {
  position: absolute;
  top: 47%;
  right: 16%;
  transform: translate(50%, 50%);
  opacity: .5;
}

#train {
  position: absolute;
  display: flex;
  height: 80px;
  color: pink;
 z-index: 10;
 font-size: 50px;
}

#train2 {
  
  display: flex;
  height: 100px;
  color: orange;
}

#train3 {
  position: absolute;
  right: 5%;
  display: flex;
  height: 100%;
  width: 60px;
  justify-content: center;
  align-items: top;
  border-radius: 50%;
  z-index: 1;
  opacity: 1;
  margin: 0;
  padding: -400px;
  margin-top: -100px;
  margin-bottom: -500px;
}

#train3 img{
  display: flex;
  border-radius: 50%;

}
body .github a{
right: 20%;
top: 90%;
background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/600px-Octicons-mark-github.svg.png?20180806170715");
  position: absolute;
  background-size: cover;
height: 80pxpx;
width: 50px;
height: 50px;
z-index: 100; 
transform: translate(50%, 50%);

}