body{
  margin: 0;
  background-color: rgba(250 248 246);
  font-family: cursive;
}

.left-part {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
 width: 120px;
 justify-content: space-between;
}

.small{
  font-size: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  color: white;
  font-family: cursive;
}

.change {
  color: white;
  font-family: cursive;
  font-size: 17px;
  display: flex;
  text-decoration: none;
  justify-content: right;
  
}


.container{
  padding-top: 20%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  
  
}
img {
  height: 30px;
  border-radius: 50%;
  
}

.center  {
  justify-content: center ;
  display: flex;
  color: gray;
}



.navbar{
  display: flex;
  position: fixed;
  background-color: rgb(133, 32, 32);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  transition: background-color 0.4s;
}

.navbar ul{
  display: flex;
  list-style-type: none;
}

.navbar ul li a{
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: cursive;
}

.navbar a:hover{
  color: black;
}

.navbar.active ul li a{
  color: white;
}

.navbar.active ul li a:hover{
  color: black;
}