body{
  margin: 0;
  height: vh;
}

.line{
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}




.container{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  
}
img {
  height: 30px;
  border-radius: 50%;
  
}

h1{ 
  color: white;
}

.navbar{
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  transition: background-color 0.4s;
}

.navbar ul{
  display: flex;
  
}

.navbar ul li a{
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: cursive;
}

.navbar ul li a:hover{
  color: red;
}

.navbar.active{
  background-color: rgba(117, 6, 6, 0.815);
}

.navbar.active ul li a{
  color: white;
}